@tailwind utilities;
@import "tailwindcss";

/* globals.css */
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); 

.main {
  background-color: white;
} 

#t2025 {
  color: black;
  font-family: 'Public Sans', sans-serif;
  font-weight: 700;
} 

#seniorcaucus {
  color: black;
  font-family: 'Public Sans', sans-serif;
  font-weight: 100;
  font-style: italic;
}

.logo-container-text {
  height: 75px;
}

.logo-container-text div {
  font-size: auto;
}

.inter-bold {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

.inter-semibold {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
   /* make it not italic */
   font-style: normal;
}

.inter-regular {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.inter-light {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}

.inter-extralight {
  font-family: 'Inter', sans-serif;
  font-weight: 200;
} 